.header {
    background-color: #ffffff;
    padding:50px;
    text-align: center;
}
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

#calBody{
    border: 5px solid rgb(133, 174, 252);
    
}