<body>
<div class="header"></div>
    

 
        <div class="row">
          <div class="column">
          </div>

          <div class="column" id = "calBody">
                <app-cal-num></app-cal-num>
                <app-cal-symbol></app-cal-symbol>
          </div>

          <div class="column">
          </div>
        </div>
</body>