<div id = "call"> {{call}}
<br>
 {{sum}} 
</div>

<br>
<div class = "wrapper">
<div><button class = 'button buttonLeft'(click)="onClickLeft()">(</button></div>
<div><button class = 'button buttonRight'(click)="onClickRight()">)</button></div>   
<div><button class = 'button buttonSquare'(click)="onClickSquare()">x^2</button></div>
<div><button class = 'button buttonClear'(click)="Clear()">AC</button></div>
<div><button class = 'button button7'(click)="onClick7()">7</button></div>
<div><button class = 'button button8'(click)="onClick8()">8</button></div>
<div><button class = 'button button9'(click)="onClick9()">9</button></div>
<div><button class = 'button buttonPlus'(click)="onClickPlus()">+</button></div>
<div><button class = 'button button4'(click)="onClick4()">4</button></div>
<div><button class = 'button button5'(click)="onClick5()">5</button></div>
<div><button class = 'button button6'(click)="onClick6()">6</button></div>
<div><button class = 'button buttonMinus'(click)="onClickMinus()">-</button></div>
<div><button class = 'button button1' (click)="onClick1()">1</button></div>
<div><button class = 'button button2'(click)="onClick2()">2</button></div>
<div><button class = 'button button3'(click)="onClick3()">3</button></div>
<div><button class = 'button buttonTimes'(click)="onClickTimes()">*</button></div>
<div><button class = 'button buttonDot'(click)="onClickDot()">.</button></div> 
<div><button class = 'button button0'(click)="onClick0()">0</button></div>
<div><button class = 'button buttonSum'(click)="Sum()">&nbsp;&nbsp;=&nbsp;&nbsp;</button></div>
<div><button class = 'button buttonDivide'(click)="onClickDivide()">/</button></div>

</div>