#call{
    
    border: 2px solid rgb(255, 82, 82); 
    background-color: rgb(182, 253, 176);
    font-family: "Courier New", Courier, monospace;
    padding: 20px;
  
}
.button {
    background-color: rgb(137, 245, 142); 
    border: none;
    color: rgba(0, 0, 0, 0.932);
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    
    
}
.buttonClear {
    
    background-color: rgb(219, 85, 85);
    color: rgba(255, 255, 255, 0.932);
    
}
.buttonSum {
    background-color: rgb(132, 204, 245);
    color: rgba(255, 255, 255, 0.932);
  
}
.buttonPlus,.buttonTimes,.buttonDivide,.buttonMinus,.buttonLeft,.buttonRight,.buttonDot,.buttonSquare{
    background-color: rgb(245, 252, 144);
    color: rgba(0, 0, 0, 0.932);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,80px);
    height: 400px;
    width: 500px;
   
    grid-template-areas: 
      "a b c d"
      "e f g h"
      "i j k l"
      "m n o p"
      "q r s t";
  }
  